In [2]:
import pandas as pd
import itertools
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
file = open("bob1.dat")

In [4]:
datCont = []

In [13]:
file = open("bob1.dat")
datCont = []
#for line in itertools.islice(file, 135739800, 135739900):
for line in itertools.islice(file, 74910374, 74910375):
#for line in itertools.islice(file, 9787468, 9787469):
#for line in itertools.islice(file, 508, 510):
#for line in itertools.islice(file, 637, 766):
#for line in itertools.islice(file, 766, 895):
#for line in itertools.islice(file, 0, 510):
    datCont.append(line.strip())

In [14]:
datCont

['modal split ij[a1,a1,tpc,peak]']

In [37]:
pd.DataFrame(datCont)

                                0
0        "%slow tours i"[a1,peak]
1                     0\t0.533682
2       "%slow tours i"[a1,opeak]
3                     0\t0.636189
4        "%slow tours i"[a2,peak]
..                            ...
505                   0\t0.493321
506   "%slow tours i"[a127,opeak]
507                          0\t0
508  accessibility i[a1,tpc,peak]
509               0\t5.55678e+006

[510 rows x 1 columns]

In [ ]:
[item for item in datCont][0].split('"')[2].split(',')[0].split('a')[1]

In [ ]:
[item for item in datCont][1].split('\t')[1]

In [ ]:
pd.DataFrame([linea for linea in lineas])

In [32]:
file = open("hola.dat")
i = 0
while 1:
    line = file.readline()
    if not line: 
        break
        
    print(i, ': ', line)
    i += 1

0 :  hola

1 :  pene

2 :  mio