In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
file = open("bob2.dat", "r")

In [3]:
seguir = True

In [4]:
zonas = []

In [5]:
while seguir: 
    linea1 = file.readline()
    linea2 = file.readline()
    if "slow tours" not in linea1:
        seguir = False
    else:
        zona_indice = linea1.split('"')[2].split(',')[0].split('a')[1]
        tipo = linea1.split('"')[2].split(',')[1].split(']')[0]
        valor = float(linea2.split('\t')[1])
        
        zona_prev = [zona for zona in zonas if zona["id"] and zona["id"] == zona_indice]
        if len(zona_prev) > 0:
            zona = zona_prev[0]
            zona[tipo] = valor
            
        else:
            zona = {}
            zona["id"] = zona_indice
            zona[tipo] = valor
            zonas.append(zona)

In [6]:
with open('files4/slow.json', 'w') as ff:
    json.dump(zonas, ff)

In [28]:
np_array = np.asarray(zonas)

In [55]:
df = pd.DataFrame(zonas)

In [60]:
df.head(10)

   id      peak     opeak
0   1  0.533682  0.636189
1   2  0.040758  0.500000
2   3  0.000000  0.403282
3   4  0.341154  0.729901
4   5  0.205080  0.338290
5   6  0.302659  0.577451
6   7  0.319893  0.629717
7   8  0.065564  0.450734
8   9  0.116315  0.711661
9  10  0.110249  0.805156

In [59]:
df.to_csv("slowmode_single_zone.csv", index=None)

In [ ]:
#