In [1]:
import pandas as pd
import numpy as np
import json
from os import listdir
from os.path import isfile, join
import copy

In [2]:
#tomar peak o peak en promedio por tiempo. 
path = '/Users/davidbautista/Documents/tesis/luti-back/server/'
p = path + 'docs/escenario1/accesibility_ij'
rutas = [f for f in listdir(p) if isfile(join(p, f)) and 'accessibility ij' in f]
len(rutas)

In [4]:
pd.read_json(join(p, rutas[0]))

   zona_i_id zona_j_id type  mode  time    value
0        a82       a11  car  peak     0  5298.61
1        a82       a11  car  peak     1  5149.53
2        a82       a11  car  peak     2  5342.90
3        a82       a11  car  peak     3  5158.44
4        a82       a11  car  peak     4  5188.55
5        a82       a11  car  peak     5  5247.54
6        a82       a11  car  peak     6  5325.32
7        a82       a11  car  peak     7  5312.79
8        a82       a11  car  peak     8  5354.71
9        a82       a11  car  peak     9  5386.41
10       a82       a11  car  peak    10  5307.09
11       a82       a11  car  peak    11  4844.58
12       a82       a11  car  peak    12  4866.14
13       a82       a11  car  peak    13  4826.62
14       a82       a11  car  peak    14  4859.68
15       a82       a11  car  peak    15  4924.96
16       a82       a11  car  peak    16  5043.32
17       a82       a11  car  peak    17  5131.62
18       a82       a11  car  peak    18  5275.24
19       a82       a11  car  peak    19  5448.58
20       a82       a11  car  peak    20  5460.45
21       a82       a11  car  peak    21  5402.22
22       a82       a11  car  peak    22  5422.67
23       a82       a11  car  peak    23  5532.92
24       a82       a11  car  peak    24  5561.69
25       a82       a11  car  peak    25  5607.54
26       a82       a11  car  peak    26  5674.43
27       a82       a11  car  peak    27  5745.24
28       a82       a11  car  peak    28  5724.24
29       a82       a11  car  peak    29  5782.84
30       a82       a11  car  peak    30  5813.83
31       a82       a11  car  peak    31  5717.52
32       a82       a11  car  peak    32  5208.02
33       a82       a11  car  peak    33  5214.86
34       a82       a11  car  peak    34  5153.56
35       a82       a11  car  peak    35  5173.96
36       a82       a11  car  peak    36  5225.28
37       a82       a11  car  peak    37  5330.78
38       a82       a11  car  peak    38  5406.64
39       a82       a11  car  peak    39  5542.73
40       a82       a11  car  peak    40  5714.72
41       a82       a11  car  peak    41  5902.39

In [7]:
data_totalZona_por_tiempo = [[{'zone': i, 'value': 0} for i in range(128)] for t in range(42)]
prev = 1;
for ruta in rutas:
    prev += 1
    if prev % 10000 == 0:
        print(prev)
    df = pd.read_json(join(p, ruta))
    for index,row in df.iterrows():
        zona = int(row['zona_i_id'].replace("a", ""))
        time = int(row['time'])
        data_totalZona_por_tiempo[time][zona]['value'] += row['value']/96773

10000
20000
30000
40000
50000
60000
70000
80000
90000

In [9]:
for tiempo, t_data in enumerate(data_totalZona_por_tiempo):
    filename = '{}docs/escenario1/accesibility_ij_resumen/totalZonaPorTiempo/t_{}.json'.format(path, tiempo)
    with open(filename, 'w') as fileout:
        json.dump(t_data, fileout)

In [21]:
#Para hallar el minimo y maximo en el dataset_construido y guardarlos en un json dentro de la subcarpeta
max_val = data_totalZona_por_tiempo[0][1]['value']
min_val = data_totalZona_por_tiempo[0][1]['value']
for t_data in data_totalZona_por_tiempo:
    for z_data in t_data:
        if z_data['zone'] == 0:
            continue
        z_val = z_data['value']
        
        if z_val > max_val:
            max_val = z_val
        if z_val < min_val:
            min_val = z_val
            
filename = '{}docs/escenario1/accesibility_ij_resumen/totalZonaPorTiempo/minandmax.json'.format(path)
with open(filename, 'w') as fileout:
    json.dump({'min': min_val, 'max': max_val}, fileout)

In [25]:
max_val

11189.935081953363