In [2]:
import pandas as pd
import numpy as np
import json
from os import listdir
from os.path import isfile, join
import copy

In [1]:
path = '/Users/davidbautista/Documents/tesis/luti-back/server/'

In [29]:
def timelineControlData(zona):
    if zona == 0:
        dat = pd.DataFrame([{'value': 0, 'zona': 'todas'.format(zona)}]*42)
        nombre = ''
    else:
        dat = pd.DataFrame([{'value': 0, 'zona': 'a{}'.format(zona)}]*42)
        nombre = '[a{},'.format(zona)
    onlyfiles = [f for f in listdir('{}docs/escenario1/'.format(path)) if isfile(join('{}docs/escenario1/'.format(path), f)) and 'accessibility ij{}'.format(nombre) in f]

    for filename in onlyfiles:
        try:
            file = pd.read_json('{0}docs/escenario1/{1}'.format(path, filename))
            dat['value'] += file['value']/len(onlyfiles)
            dat['time'] = file['time']
        except:
            continue
    # print("dat ***")
    # print(dat)

    return dat

In [25]:
timelineControlData(82)

            value zona  time
0   133414.743796  a82     0
1   137741.216181  a82     1
2   145153.316398  a82     2
3   149876.259142  a82     3
4   155669.416672  a82     4
5   162505.244281  a82     5
6   170123.672948  a82     6
7   175064.267603  a82     7
8   181949.844111  a82     8
9   188677.031168  a82     9
10  191594.973700  a82    10
11  180497.282358  a82    11
12  186951.582274  a82    12
13  191176.155017  a82    13
14  198377.360515  a82    14
15  207176.925065  a82    15
16  218589.001066  a82    16
17  229171.534361  a82    17
18  242667.205917  a82    18
19  258097.958193  a82    19
20  266372.649854  a82    20
21  272597.359192  a82    21
22  283010.116796  a82    22
23  298623.295120  a82    23
24  310426.042699  a82    24
25  323672.885692  a82    25
26  338692.723800  a82    26
27  354627.525738  a82    27
28  365400.954360  a82    28
29  381717.124229  a82    29
30  396827.021303  a82    30
31  403556.770993  a82    31
32  380241.076366  a82    32
33  393673.589794  a82    33
34  402214.583324  a82    34
35  417465.890495  a82    35
36  435877.417077  a82    36
37  459740.224567  a82    37
38  482046.494437  a82    38
39  510832.425208  a82    39
40  544406.961506  a82    40
41  562238.031948  a82    41

In [28]:
for i in range(1, 128):
    dat = timelineControlData(i)
    dat.to_json('{0}docs/timelines/timeline_{1}.json'.format(path,i), orient='records')

In [30]:
dat = timelineControlData(0)
dat.to_json('{0}docs/timelines/timeline_todas.json'.format(path), orient='records')

In [32]:
"aksdkladakdjkad".split("$")

['aksdkladakdjkad']